.about-section-2 {
  background-color: #E0E0E0;
  padding: 4rem 10rem;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

/* Bild */
.about-image {
  flex: 1 1 50%;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Text */
.about-text-content-2 {
  flex: 1 1 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.about-text-content-2 h2 {
  font-family: "playfair-display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  line-height: 0.5;
  margin-bottom: 2rem;
}

.om-text {
  font-family: "quicksand", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  margin-top: 1rem;
  color: #59627a;
  line-height: 1.3;
  letter-spacing: 0.03rem;
  text-align: left;
}

.about-section-2 .note {
  font-family: "quicksand", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #59627a;
  line-height: 1.3;
  letter-spacing: 0.03rem;
  text-align: left;
}

/* Responsiv design */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .about-image {
    order: -1;
    width: 100%;
  }

  .om-text, .note {
    width: 100%;
    text-align: center;
  }

  .about-text-content-2 h2 {
    font-size: 3rem;
  }
}
